mixin header(data)
	- data = data || {};

	header.header
		.header__container.container 
			a.header__logo.logo(href="#" title="")
				img.logo__image(src = data.logo alt = data.alt)
			.header__navigation.navigation
				each header in data.items
					li.navigation__item
						a.navigation__link(href = header.link title = header.hrefTitle)!=header.title
			
			a.header__button.button(href="https://ibs-infinisoft.ru/services/web-development/#b532" target="_blank")!=data.button