// Colors
$color-white: #fff;
$color-black: #3d3d3d;
$color-blue-dark: #213B87;
$color-blue: #006EE9;
$color-blue-light: #008DFF;

// Breakpoints
$tablet: 992px;
$large: 1500px;
$desktop: 1200px;
$mobile: 576px;

// Animation
$transition-base: all 0.25s ease-out;

// Fonts

// Poppins
$poppins-400: 'SegoeUI-Regular';
$poppins-500: 'SegoeUI-SemiBold';
$poppins-600: 'SegoeUI-Bold';

// Inter
$inter-400: 'Inter-Regular';
$inter-500: 'Inter-SemiBold';
$inter-600: 'Inter-Bold';