mixin projects(data)
	- data = data || {};

	section#projects.projects 
		.projects__container.container
			.projects__field
				h2.projects__title.title!=data.title

				.projects__controls.controls 
					.controls__prev
						+icon('arrow')
					.controls__next
						+icon('arrow')

			.projects__box
				.projects__column 
					.projects__description 
						p.projects__text 
							| В нашем портфолио #[span 30+] успешно завершенных проектов, в том числе для ПИК, УралКалий, Газпромбанк, Газпром-Нефть, Газпром и др.
						p.projects__text 
							| В дивизионе разработки компании #[span IBS] более #[span 1200+] высококвалифицированных специалистов, с отлаженной коммуникацией и выстроенной структурой управления

					.projects__certificates
						each certificate in data.certificates
							img.projects__certificate(src = certificate.image alt="ibs.ru")

				.projects__list
					.projects__slider
						.swiper-wrapper
							.swiper-slide.projects__item 
								.projects__title Корпоративный портал проектных офисов
								.projects__content 
									.projects__column 
										.projects__subtitle Задачи проекта
										.projects__text
											| Разработать систему, помогающую информировать пользователей о статусе работы проектных офисов, новостях и лучших практиках

										.projects__subtitle Результаты
										ul.projects__box
											li.projects__point
												| Реализованная единая ИС для госслужащих из разных минестерств и ведомств
											li.projects__point
												| Геймифицированное проектное управление


										.projects__subtitle Технология
										.projects__text 1С-Битрикс24: Корпоративный портал

									.projects__images
										img.projects__interface(src="/assets/images/projects/rfk.png" alt="ibs.ru")
										img.projects__client(src="/assets/images/clients/rfk.png" alt="ibs.ru")

							.swiper-slide.projects__item 
								.projects__title Корпоративный портал LIFE
								.projects__content 
									.projects__column 
										.projects__subtitle Задачи проекта
										.projects__text Реализовать единую точка доступа ко всем системам и сервисам компании

										.projects__subtitle Результаты
										ul.projects__box
											li.projects__point 
												| Увеличение вовлеченности сотрудников компании на 25%
											li.projects__point
												| Интеграция всех дочерних компаний на портал более 5000 сотрудников


										.projects__subtitle Технология
										.projects__text 1С-Битрикс24: Корпоративный портал

									.projects__images
										img.projects__interface(src="/assets/images/projects/life.png" alt="ibs.ru")
										//img.projects__client(src="/assets/images/logo-blue.png" alt="ibs.ru")

							.swiper-slide.projects__item 
								.projects__title B2B кабинет вагоноремонтного предприятия
								.projects__content 
									.projects__column 
										.projects__subtitle Задачи проекта
										.projects__text Разработать и ввести в эксплуатацию ИС с учетными системами клиента по ремонту вагонов

										.projects__subtitle Результаты
										ul.projects__box
											li.projects__point 
												| Автоматизация процесса взаимодействия с клиентами
											li.projects__point
												| Сокращение времени обслуживания клиента на 40% за счет актуальной информации на портале


										.projects__subtitle Технология
										.projects__text 1С-Битрикс: Управление сайтом

									.projects__images
										img.projects__interface(src="/assets/images/projects/rts.png" alt="ibs.ru")
										img.projects__client(src="/assets/images/clients/rts.png" alt="ibs.ru")