mixin platform(data)
	- data = data || {};

	section#platform.platform 
		.platform__container.container 
			.platform__title.title!=data.title
				.platform__box
					.platform__content
						.platform__text 
							| #[strong 1C-Битрикс24] (коробочная версия Битрикс24) – это цифровое рабочее пространство для вашей компании, на вашем сервере, с вашими индивидуальными настройками и доработками.

						.platform__subtitle 
							| Преимущества

						ul.platform__list
							each platforms in data.items
								li.platform__item!=platforms.text

						a.platform__link(href="https://www.bitrix24.ru/prices/try_biz.php" target="_blank" title="")
							| Демо-версия

					img.platform__image(src = data.product alt="ibs.ru")