mixin platform(data)
	- data = data || {};

	section#platform.platform 
		.platform__container.container 
			.platform__title.title!=data.title
				.platform__box
					.platform__content
						.platform__text 
							| #[strong 1C-Битрикс24] (коробочная версия Битрикс24) – это цифровое рабочее пространство для вашей компании, на вашем сервере, с вашими индивидуальными настройками и доработками.

						.platform__subtitle 
							| Преимущества

						ul.platform__list
							li.platform__item
								| Один из самых популярных корпоративных порталов в мире.Используется более чем в 3 миллионах компаний
							li.platform__item
								| Корпоративный портал на вашем сервере с вашими индивидуальными настройками, доработками и брендом
							li.platform__item
								| Единое решение для совместной работы сотрудников и оптимизации бизнес-процессов компании

						a.platform__link(href="https://www.bitrix24.ru/prices/try_biz.php" target="_blank" title="")
							| Демо-версия

					img.platform__image(src = data.product alt="ibs.ru")