extends ../pug/layout/main

block variables
	-let title = 'Внедрение корпоративного портала на базе решения 1С-Битрикс24 | IBS - web-разработка'
	-let description = 'IBS WEB - команда разработки с фокусом на портальные решения на базе решения 1С-Битрикс24'
	-let keywords = '1С-Битрик24, Битрикс24, Битрикс, Битра, CRM, Корпоративный, Портал, Bitrix24'

block content

	// BEGIN HEADER

	+header({
		logo: '/assets/images/logo-blue.png',
		alt: 'ibs.ru',
		items: [
			{title: 'Экспертиза', link: '#expertise'},
			{title: 'Клиенты', link: '#clients'},
			{title: 'Награды', link: '#achievements'},
			{title: 'Возможности', link: '#possibilities'},
			{title: 'Платформа', link: '#platform'}
    	],
		button: 'Обсудить проект'
	})

	// END HEADER

	// BEGIN MAIN SCREEN

	+main-screen-bitrix({
		strong: 'Внедрение корпоративных порталов на ',
		product: '1С-Битрикс24',
		items: [
			{image: '/assets/images/certificates/certificate-1.png'},
			{image: '/assets/images/certificates/certificate-2.png'},
			{image: '/assets/images/certificates/certificate-3.png'},
			{image: '/assets/images/certificates/certificate-4.png'}
    	],
		preview: '/assets/images/main/portals.png',
		person: '/assets/images/main/personal.png'
	})

	// END MAIN SCREEN

	// BEGIN EXPERTISE

	+expertise({
		title: 'Экспертиза'
	})

	// END EXPERTISE

	// BEGIN CLIENTS

	+clients({
		title: 'Ключевые клиенты',
		items: [
			{logo: '/assets/images/clients/gazprom-neft.png', alt: 'Газпром нефть', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/rts.png', alt: 'РегионТрансСервис'},
			{logo: '/assets/images/clients/omk.png', alt: 'ОМК', class: 'clients__logo_omk'},
			{logo: '/assets/images/clients/gazprom-inform.png', alt: 'Газпром информ', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/rfk.png', alt: 'Федеральное казначейство', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/tishuka.png', alt: 'Театральный институт имени Б. Щукина'}
    	]
	})

	// END CLIENTS

	// BEGIN ACHIEVEMENTS

	+achievements({
		title: 'Достижения и награды',
		items: [
			{link: 'https://hh.ru/article/31601/', date: '2023', image: '/assets/images/achievements/hr-brand.png', alt: 'HH HR brand'},
			{link: 'https://abazhur.rivelty.ru/riawards-2023-results/', date: '2022', image: '/assets/images/achievements/riw.png', alt: 'Russian intranet awwards'},
			{link: 'https://ibs.ru/media/news/korporativnyy-portal-zoom-ibs-finalist-ekspertnoy-premii-russian-intranet-awards/', date: '2020', image: '/assets/images/achievements/lider.png', alt: 'Интранет-лидер года'}
    	]
	})

	// END ACHIEVEMENTS

	// BEGIN DEVELOPERS

	+developers({
		title: 'Необходимо внедрить корпоративный портал или CRM-систему на 1С-Битрикс24?',
		text: 'Мы понимаем бизнес-задачи наших клиентов и решаем все абслютно вопросы по разработке',
		button: 'Обсудить проект'
	})

	// END DEVELOPERS

	// BEGIN POSSIBILITIES

	+possibilities({
		title: 'Возможности',
		items: [
			{
				image: '/assets/images/possibilities/possibilitie-1.png',
				subtitle: 'Битрикс24.crm',
				text: 'Автоматизация работы на всех этапах взаимодействия с клиентом. Единая база сделок, лидов, контактов. Задачи и напоминания для менеджеров. История всех взаимодействий с клиентом. Удобная визуализация результатов работы сотрудников и отделов в дашбордах. Единое окно взаимодействия с клиентами через социальные сети, телефонию и почту'
			},
			{
				image: '/assets/images/possibilities/possibilitie-2.png',
				subtitle: 'Корпоративный портал',
				text: 'Единое пространство для общения всей компании, удобное планирование расписания и встреч с коллегами, возможность совершать видеозвонки HD. Единое хранилище данных, база знаний. Постановка задач, назначение ролей, учет рабочего времени сотрудников, KPI'
			},
			{
				image: '/assets/images/possibilities/possibilitie-3.png',
				subtitle: 'HR-решения',
				text: 'Адаптация сотрудника во внутрикорпоративных взаимодействиях. Личный кабинет сотрудника, чаты, рабочие группы, фотогалереи, блоги, геймификация, бонусы. Публикация вакансий, импорт резюме. Индивидуальный план развития сотрудника, кадровый резерв. Прием и увольнение сотрудника. График отпусков, заявление на отпуск'
			},
			{
				image: '/assets/images/possibilities/possibilitie-4.png',
				subtitle: 'Автоматизация бизнес‑процессов',
				text: 'Платформа позволит оперативно и прозрачно адаптировать, оцифровать и автоматизировать ваши уникальные бизнес-процессы. Любое согласование, ознакомление и принятие решения произойдет точно в срок, снижая риск человеческого фактора'
			},
			{
				image: '/assets/images/possibilities/possibilitie-5.png',
				subtitle: 'Расширенный функционал',
				text: 'Индивидуальная разработка модулей и приложений, адаптация стандартных возможностей под требования бизнеса. Добавление новых сущностей, статусов, кнопок. Отчеты в нужном вам виде. Создание интерфейса под ваш корпоративный стиль. Разработка мобильной версии корпоративного портала, для работы сотрудников вне офисного пространства'
			},
			{
				image: '/assets/images/possibilities/possibilitie-6.png',
				subtitle: 'Интеграция и быстродействие',
				text: 'Интегрируем с CRM- и ERP- системами заказчика (SAP, 1C, Microsoft Dynamics, Microsoft Active Directory, Microsoft Outlook, КСУ НСИ)'
			}
		]
	})

	// END POSSIBILITIES

	// BEGIN PLATFORM

	+platform({
		title: 'Направления',
		product: '/assets/images/platform.png'
	})

	// END PLATFORM

	// BEGIN DIRECTIONS

	+directions({
		title: 'Направления',
		items: [
			{title: 'Государственные программы', link: 'https://ibs.ru/industries/government/', logo: '/assets/images/directions/icon-state.png', alt: 'Государственные программы'},
			{title: 'Газовая индустрия', link: 'https://ibs.ru/industries/gas/', logo: '/assets/images/directions/icon-gas.png', alt: 'Газовая индустрия'},
			{title: 'Агропромышленность', link: 'https://ibs.ru/industries/agro/', logo: '/assets/images/directions/icon-agro.png', alt: 'Агро-промышленность'},
			{title: 'ТНП и Ритейл', link: 'https://ibs.ru/industries/retail/', logo: '/assets/images/directions/icon-riteil.png', alt: 'ТНП и Ритейл'},
			{title: 'Промышленность и транспорт', link: 'https://ibs.ru/industries/production/', logo: '/assets/images/directions/icon-transport.png', alt: 'Промышленность и транспорт'},
			{title: 'Энергетика и ЖКХ', link: 'https://ibs.ru/industries/energy/', logo: '/assets/images/directions/icon-energy.png', alt: 'Энергетика и ЖКХ'}
    	]
	})

	// END DIRECTIONS

	// BEGIN FOOTER

	+footer({
		logo: '/assets/images/logo-white.png',
		telephones: [
			{telephone: '+7 (495) 967-80-80', tel: '+74959678080'},
			{telephone: '+7 (914) 195-64-59', tel: '+79141956459'}
		],
		address: 'Россия, 127434, город Москва, Дмитровское шоссе, дом 9-Б, эт. 5 пом. XIII, ком. 6',
		navigations: [
			{title: 'Экспертиза', link: '#expertise'},
			{title: 'Клиенты', link: '#clients'},
			{title: 'Награды', link: '#achievements'},
			{title: 'Возможности', link: '#possibilities'},
			{title: 'Платформа', link: '#platform'}
		],
		presentantionLink: '/assets/ibs-web.pdf',
		presentantionTitle: 'Скачать презентацию ',
		persInfoLink: '/assets/politic.pdf',
		persInfoTitle: 'Персональные данные и правовые аспекты',
		button: 'Обсудить проект',
		email: 'web@ibs.ru',
		copyright: '© ООО «ИБС Экспертиза», 2023. Все права защищены'
	})

	// END FOOTER