extends ../pug/layout/main

block variables
	-let title = 'Внедрение корпоративного портала на базе решения 1С-Битрикс24 | IBS - web-разработка'
	-let description = 'IBS WEB - команда разработки с фокусом на портальные решения на базе решения 1С-Битрикс24'
	-let keywords = '1С-Битрик24, Битрикс24, Битрикс, Битра, CRM, Корпоративный, Портал, Bitrix24'

block content

	// BEGIN HEADER

	+header({
		logo: '/assets/images/logo-blue.png',
		alt: 'ibs.ru',
		items: [
			{title: 'Экспертиза', link: '#services'},
			{title: 'Клиенты', link: '#directions'},
			{title: 'Награды', link: '#projects'},
			{title: 'Возможности', link: '#clients'},
			{title: 'Платформа', link: '#contacts'},
			{title: 'Проекты', link: '#contacts'}
    	],
		button: 'Обсудить проект'
	})

	// END HEADER

	// BEGIN MAIN SCREEN

	+main-screen({
		strong: '',
		description: 'Внедрение корпоративных порталов на ',
		product: '1С-Битрикс24',
		items: [
			{product: 'Корпоративные порталы'},
			{product: 'Личные кабинеты (b2b, b2c)'},
			{product: 'CRM-системы'}
    	],
		preview: '/assets/images/main/portals.png',
		person: '/assets/images/main/personal.png'
	})

	// END MAIN SCREEN

	// BEGIN CLIENTS

	+clients({
		title: 'Ключевые клиенты',
		items: [
			{logo: '/assets/images/clients/gazprom-neft.png', alt: 'Газпром нефть', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/rts.png', alt: 'РегионТрансСервис'},
			{logo: '/assets/images/clients/omk.png', alt: 'ОМК', class: 'clients__logo_omk'},
			{logo: '/assets/images/clients/gazprom-inform.png', alt: 'Газпром информ', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/rfk.png', alt: 'Федеральное казначейство', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/tishuka.png', alt: 'Театральный институт имени Б. Щукина'}
    	]
	})

	// END CLIENTS

	// BEGIN ACHIEVEMENTS

	+achievements({
		title: 'Достижения и награды',
		items: [
			{link: '', date: '2023', image: '/assets/images/achievements/hr-brand.png', alt: 'HH HR brand'},
			{link: '', date: '2022', image: '/assets/images/achievements/riw.png', alt: 'Russian intranet awwards'},
			{link: '', date: '2020', image: '/assets/images/achievements/lider.png', alt: 'Интранет-лидер года'}
    	]
	})

	// END ACHIEVEMENTS

	// BEGIN DEVELOPERS

	+developers({
		title: 'Хотите нанять опытных разработчиков?',
		text: 'Мы понимаем бизнес-задачи наших клиентов и решаем все вопросы по разработке',
		button: 'Нанять разработчиков'
	})

	// END DEVELOPERS

	// BEGIN PROJECTS

	+projects({
		title: 'Проекты',
		certificates: [
			{image: '/assets/images/certificates/certificate-1.png'},
			{image: '/assets/images/certificates/certificate-2.png'},
			{image: '/assets/images/certificates/certificate-3.png'},
			{image: '/assets/images/certificates/certificate-4.png'}
		],
		items: [
			{
				title: 'Корпоративный портал проектных офисов',
				text: 'Разработать систему, помогающую информировать пользователей о статусе работы проектных офисов, новостях и лучших практиках',
				point1: 'Реализованная единая ИС для госслужащих из разных минестерств и ведомств',
				point2: 'Геймифицированное проектное управление',
				technology: '1С-Битрикс24: Корпоративный портал',
				interface: '/assets/images/projects/rfk.png',
				client: '/assets/images/clients/rfk.png'
			},

    	],

	})

	// END PROJECTS

	// BEGIN DIRECTIONS

	+directions({
		title: 'Направления',
		items: [
			{link: 'https://ibs.ru/industries/government/', logo: '/assets/images/directions/icon-state.png', alt: 'Госсектор', title: 'Госсектор'},
			{link: 'https://ibs.ru/industries/gas/', logo: '/assets/images/directions/icon-gas.png', alt: 'Газ, нефть', title: 'Газ, нефть'},
			{link: 'https://ibs.ru/industries/agro/', logo: '/assets/images/directions/icon-agro.png', alt: 'Агросектор', title: 'Агросектор'},
			{link: 'https://ibs.ru/industries/retail/', logo: '/assets/images/directions/icon-riteil.png', alt: 'Ритейл', title: 'Ритейл'},
			{link: 'https://ibs.ru/industries/production/', logo: '/assets/images/directions/icon-transport.png', alt: 'Транспорт', title: 'Транспорт'},
			{link: 'https://ibs.ru/industries/energy/', logo: '/assets/images/directions/icon-energy.png', alt: 'Энергетика', title: 'Энергетика'}
    	]
	})

	// END DIRECTIONS

	// BEGIN FOOTER

	+footer({
		logo: '/assets/images/logo-white.png',
		telephones: [
			{telephone: '+7 (495) 967-80-80'},
			{telephone: '+7 (914) 195-64-59'}
		],
		address: 'Россия, 127434, город Москва, Дмитровское шоссе, дом 9-Б, эт. 5 пом. XIII, ком. 6',
		navigations: [
			{title: 'Экспертиза', link: '#services'},
			{title: 'Клиенты', link: '#achievements'},
			{title: 'Награды', link: '#directions'},
			{title: 'Возможности', link: '#clients'},
			{title: 'Платформа', link: '#projects'},
			{title: 'Проекты', link: '#contacts'}
		],
		presentanionLink: '#',
		presentanionTitle: 'Скачать презентацию ',
		persInfoLink: '#',
		persInfoTitle: 'Персональные данные и правовые аспекты',
		button: 'Обсудить проект',
		email: 'web@ibs.ru',
		copyright: '© ООО «ИБС Экспертиза», 2023. Все права защищены'
	})

	// END FOOTER