extends ../pug/layout/main

block variables
	-let title = 'IBS - web-разработка'
	-let description = ''
	-let keywords = ''

block content

	// BEGIN HEADER

	+header({
		logo: '/assets/images/logo-blue.png',
		alt: 'ibs.ru',
		items: [
			{link: '#services', title: 'Услуги'},
			{link: '#directions', title: 'Направления'},
			{link: '#projects', title: 'Проекты'},
			{link: '#clients', title: 'Клиенты'},
			{link: '#contacts', title: 'Контакты'},
    	],
		button: 'Обсудить проект'
	})

	// END HEADER

	// BEGIN MAIN SCREEN

	section#main-screen.main-screen 
		.main-screen__container.container
			img.main-screen__persona(src="/assets/images/main/personal.png" alt="ibs.ru")
			.main-screen__list
				.main-screen__item
					.main-screen__description
						h2.main-screen__title 
							| #[strong WEB-разработка] с фокусом на портальные решения #[br] #[span 1С-Битрикс] 

						.main-screen__tags 
							.main-screen__item Корпоративные порталы
							.main-screen__item Личные кабинеты (b2b, b2c)
							.main-screen__item CRM-системы

					img.main-screen__preview(src="/assets/images/main/portals.png" alt="ibs.ru")

	// END MAIN SCREEN

	// BEGIN SERVICES

	section#services.services 
		.services__container.container
			h2.services__title.title Услуги
			.services__list 
				.services__item
					h3.services__title Разработка
					p.services__text Технический аудит
					p.services__text MVP прототип
					p.services__text Проект под ключ
					p.services__text Поддержка и развитие
					+icon('development').services__icon

				.services__item
					h3.services__title Аутстаф
					p.services__text.services__text_long
						| Сертифицированные #[br] разработчики
					p.services__text_long
						| Выделенная команда #[br] под проект
					+icon('outstaff').services__icon

				.services__item
					h3.services__title Типовые решения
					p.services__text Корпоративный портал
					p.services__text Личный кабинет (b2b, b2c)
					p.services__text CRM-система
					p.services__text Интеграции
					+icon('typical').services__icon

				.services__item
					h3.services__title Аналитика
					p.services__text Спецификация
					p.services__text ПМИ
					p.services__text ТЗ по ГОСТ
					p.services__text UX-аудит
					+icon('analytics').services__icon

				.services__item
					h3.services__title Devops
					p.services__text Подбор серверов 
					p.services__text Сайзинг
					p.services__text Инфраструктура
					p.services__text CI/CD
					+icon('devops').services__icon

				.services__item
					h3.services__title Дизайн
					p.services__text Исследование 
					p.services__text UX-тестирование
					p.services__text Дизайн концепция
					p.services__text Адаптивный дизайн
					+icon('design').services__icon

	// END SERVICES

	// BEGIN DIRECTIONS

	+directions({
		title: 'Направления',
		items: [
			{link: 'https://ibs.ru/industries/government/', logo: '/assets/images/directions/icon-state.png', alt: 'Госсектор', title: 'Госсектор'},
			{link: 'https://ibs.ru/industries/gas/', logo: '/assets/images/directions/icon-gas.png', alt: 'Газ, нефть', title: 'Газ, нефть'},
			{link: 'https://ibs.ru/industries/agro/', logo: '/assets/images/directions/icon-agro.png', alt: 'Агросектор', title: 'Агросектор'},
			{link: 'https://ibs.ru/industries/retail/', logo: '/assets/images/directions/icon-riteil.png', alt: 'Ритейл', title: 'Ритейл'},
			{link: 'https://ibs.ru/industries/production/', logo: '/assets/images/directions/icon-transport.png', alt: 'Транспорт', title: 'Транспорт'},
			{link: 'https://ibs.ru/industries/energy/', logo: '/assets/images/directions/icon-energy.png', alt: 'Энергетика', title: 'Энергетика'}
    	]
	})

	// END DIRECTIONS

	// BEGIN PROJECTS

	section#projects.projects 
		.projects__container.container
			.projects__field
				h2.projects__title.title Проекты

				.projects__controls.controls 
					.controls__prev
						+icon('arrow')
					.controls__next
						+icon('arrow')

			.projects__box
				.projects__column 
					.projects__description 
						p.projects__text 
							| В нашем портфолио #[span 30+] успешно завершенных проектов, в том числе для ПИК, УралКалий, Газпромбанк, Газпром-Нефть, Газпром и др.
						p.projects__text 
							| В дивизионе разработки компании #[span IBS] более #[span 1000] высококвалифицированных специалистов, с отлаженной коммуникацией и выстроенной структурой управления

					.projects__certificates
						img.projects__certificate(src="/assets/images/certificates/certificate-1.png" alt="ibs.ru")
						img.projects__certificate(src="/assets/images/certificates/certificate-2.png" alt="ibs.ru")
						img.projects__certificate(src="/assets/images/certificates/certificate-3.png" alt="ibs.ru")
						img.projects__certificate(src="/assets/images/certificates/certificate-4.png" alt="ibs.ru")

				.projects__list
					.projects__item 
						.projects__title Корпоративный портал проектных офисов
						.projects__content 
							.projects__column 
								.projects__subtitle Задачи проекта
								.projects__text 
									| Разработать систему, помогающую информировать пользователей о статусе работы проектных офисов, новостях и лучших практиках

								.projects__subtitle Результаты
								ul.projects__box
									li.projects__point
										| Реализованная единая ИС для госслужащих из разных минестерств и ведомств
									li.projects__point
										| Геймифицированное проектное управление								

								.projects__subtitle Технология
								.projects__text 
									| 1С-Битрикс24: Корпоративный портал
							.projects__images
								img.projects__interface(src="/assets/images/projects/rfk.png" alt="ibs.ru")
								img.projects__client(src="/assets/images/clients/rfk.png" alt="ibs.ru")

	// END PROJECTS

	// BEGIN ACHIEVEMENTS

	+achievements({
		title: 'Достижения и награды',
		items: [
			{link: '', date: '2023', image: '/assets/images/achievements/hr-brand.png', alt: 'HH HR brand'},
			{link: '', date: '2022', image: '/assets/images/achievements/riw.png', alt: 'Russian intranet awwards'},
			{link: '', date: '2020', image: '/assets/images/achievements/lider.png', alt: 'Интранет-лидер года'}
    	]
	})

	// END ACHIEVEMENTS

	// BEGIN DEVELOPERS

	+developers({
		title: 'Хотите нанять опытных разработчиков?',
		text: 'Мы понимаем бизнес-задачи наших клиентов и решаем все вопросы по разработке',
		button: 'Нанять разработчиков'
	})

	// END DEVELOPERS

	// BEGIN CLIENTS

	+clients({
		title: 'Ключевые клиенты',
		items: [
			{logo: '/assets/images/clients/gazprom-neft.png', alt: 'Газпром нефть', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/rts.png', alt: 'РегионТрансСервис'},
			{logo: '/assets/images/clients/omk.png', alt: 'ОМК', class: 'clients__logo_omk'},
			{logo: '/assets/images/clients/gazprom-inform.png', alt: 'Газпром информ', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/rfk.png', alt: 'Федеральное казначейство', class: 'clients__logo_top'},
			{logo: '/assets/images/clients/tishuka.png', alt: 'Театральный институт имени Б. Щукина'}
    	]
	})

	// END CLIENTS

	// BEGIN FOOTER

	footer.footer 
		.footer__container.container 
			.footer__top 
				.footer__column 
					a.footer__logo.logo(href="#" title="")
						img.footer__image(src="/assets/images/logo-white.png" alt="ibs.ru")
					a.footer__phone(href="tel:84959678080" title="") +7 (495) 967-80-80
					a.footer__phone(href="tel:89141956459" title="") +7 (914) 195-64-59

					address.footer__address 
						| Россия, 127434, город Москва, Дмитровское шоссе, дом 9-Б, эт. 5 пом. XIII, ком. 6

				.footer__column 
					ul.footer__navigation.navigation
						li.footer__item 
							a.footer__link(href="#services" title="") Услуги 
						li.footer__item 
							a.footer__link(href="#achievements" title="") Достижения 
						li.footer__item 
							a.footer__link(href="#directions" title="") Направления 
						li.footer__item 
							a.footer__link(href="#clients" title="") Клиенты
						li.footer__item 
							a.footer__link(href="#projects" title="") Проекты 
						li.footer__item 
							a.footer__link(href="#contacts" title="") Контакты

					a.footer__get-presentation(href="#" title="") Скачать презентацию 


				.footer__column
					.footer__button.button Обсудить проект
					.footer__text 
						| Электронная почта:
						a.footer__link(href="mailto:web@ibs.ru" title="") web@ibs.ru

			.footer__bottom 
				p.footer__copyright
					| © ООО «ИБС Экспертиза», 2023. Все права защищены

				a.footer__link(href="#" title="")
					| Персональные данные и правовые аспекты

				ul.footer__socials 
					li.footer__item 
						a.footer__link(href="#" target="_blank" title="vk")
							+icon('vk')
					li.footer__item 
						a.footer__link(href="#" target="_blank" title="in")
							+icon('in')
					li.footer__item 
						a.footer__link(href="#" target="_blank" title="ibs.ru")
							+icon('ibs')

	// END FOOTER