mixin possibilities(data)
	- data = data || {};

	section#possibilities.possibilities 
		.possibilities__container.container 
			.possibilities__title.title!=data.title
				.possibilities__list
					each possibilities in data.items
						.possibilities__item
							.possibilities__head 
								img.possibilities__image(src = possibilities.image alt="ibs.ru")
								.possibilities__subtitle!=possibilities.subtitle
							.possibilities__text!=possibilities.text
							