mixin developers(data)
	- data = data || {};

	section.developers 
		.developers__container.container 
			.developers__title!=data.title
			.developers__text!=data.text
			a.developers__button.button(href="https://ibs-infinisoft.ru/services/web-development/#b532" target="_blank")!=data.button