include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=320, initial-scale=1")
		meta(name="keywords" content =  keywords)
		meta(name="description" content = description)
		link(rel="stylesheet" type='text/css' href="assets/css/vendors.css" media="all")
		link(rel="stylesheet" type='text/css' href="assets/css/style.css" media="all")
	body
		include ../components/header/header
		include ../components/directions/directions
		include ../components/clients/clients
		block content
		script(src="assets/js/vendors.js")
		script(src="assets/js/scripts.js")
		block script
