@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";

html {
	font-family: 'SegoeUI-Regular', Tahoma;
	font-size: 16px;
	height: 100%;
	background: var(linear-gradient(134deg, #FFF 29.52%, #C7D5E0 118.05%));
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: $color-black;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.is-visible {
	visibility: visible;
	opacity: 1;
}

// container

.container {
	margin: 0 auto;

	@include large {
		width: 1500px;
	}

	@include desktop {
		padding: 0 40px;
		width: 100%;
	}

}

// navigation

.navigation {
	display: flex;
	flex-direction: row;
	@include list;

	&__item {
		margin: 0 20px;
	}

	&__link {
		font-family: $poppins-500;
		font-size: 16px;
		color: $color-black;
		text-decoration: none;
		transition: $transition-base;

		&:hover {
			color: $color-blue-light;
		}
	}
}

// button

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid $color-black;
	background: $color-white;
	font-family: $inter-600;
	font-size: 16px;
	color: $color-black;
	cursor: pointer;
	transition: $transition-base;
}

// header

.header {

	&__container {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 82px;
	}

	&__logo {
		display: block;
		width: 60px;
		height: 60px;

		&:hover {
			opacity: 0.75;
			transition: $transition-base;
		}
	}

	&__button {
		width: 180px;
		height: 40px;
		border: 1px solid $color-blue;
		background: $color-white;
		color: $color-blue;

		&:hover {
			color: $color-white;
			border: 1px solid $color-blue;
			background: $color-blue-light;
		}
	}
}

// services

.services {
	&__container {
		margin-top: 30px;
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 60px;
		color: $color-blue-dark;
		font-family: $inter-600;
		font-size: 36px;
		cursor: default;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		padding: 40px;
		display: flex;
		flex-direction: column;
		width: 480px;
		background: $color-white;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);

		&:nth-child(n+4) {
			margin-top: 30px;
		}

		.services__title {
			margin-bottom: 40px;
			color: #006EE9;
			font-family: $inter-500;
			font-size: 20px;
		}

		.services__text {
			margin-bottom: 10px;
			font-family: $poppins-400;
			font-size: 16px;
			color: $color-black;
			cursor: default;

			&_long {
				margin-bottom: 20px;
				line-height: 180%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		svg {
			bottom: 40px;
			right: 40px;
			position: absolute;
			width: 80px;
			height: 80px;
		}
	}
}