@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";

@import "./../pug/components/header/header.scss";
@import "./../pug/components/directions/directions.scss";
@import "./../pug/components/achievements/achievements.scss";
@import "./../pug/components/developers/developers.scss";
@import "./../pug/components/clients/clients.scss";

html {
	font-family: 'SegoeUI-Regular', Tahoma;
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
	background: var(--ibs, linear-gradient(134deg, #FFF 29.52%, #C7D5E0 118.05%) fixed);
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: $color-black;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
	transform: translateZ(0);
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.is-visible {
	visibility: visible;
	opacity: 1;
}

// container

.container {
	margin: 0 auto;

	@include large {
		width: 1500px;
	}

	@include desktop {
		padding: 0 40px;
		width: 100%;
	}

}

// navigation

.navigation {
	display: flex;
	flex-direction: row;
	@include list;

	&__item {
		margin: 0 20px;
	}

	&__link {
		font-family: $poppins-500;
		font-size: 16px;
		color: $color-black;
		text-decoration: none;
		transition: $transition-base;

		&:hover {
			color: $color-blue-light;
		}
	}
}

// button

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid $color-black;
	background: $color-white;
	font-family: $inter-600;
	font-size: 16px;
	color: $color-black;
	cursor: pointer;
	transition: $transition-base;
}

// title 

.title {
	color: $color-blue-dark;
	font-family: $inter-600;
	font-size: 36px;
	cursor: default;
}

.controls {
	display: flex;
	flex-direction: row;

	&__prev, &__next {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $color-white;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
		cursor: pointer;
		transition: $transition-base;

		&:hover {
			background: $color-blue;

			svg {
				stroke: $color-white;
			}
		}

		svg {
			margin-right: -2px;
			width: 8px;
			height: 17px;
			stroke: $color-black;
			stroke-width: 2px;
		}
	}

	&__prev {
		margin-right: 8px;

		svg {
			margin-right: 4px;
			transform: rotate(180deg);
		}
	}
}

// main-screen

.main-screen {
	$p: &;

	&__container {
		padding-bottom: 30px;
		margin-top: 0px;
		position: relative;
	}

	&__persona {
		bottom: -30px;
		right: 680px;
		position: absolute;
		width: 100px;
		height: 218px;
	}

	&__list {
		#{$p}__item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#{$p}__title {
			margin-top: 140px;
			width: 740px;
			font-size: 52px;
			font-family: $inter-500;
			line-height: 120%;
			cursor: default;
			
			strong {
				font-family: $inter-500;
				color: $color-blue-dark;
			}

			span {
				color: $color-blue;
			}
		}

		#{$p}__tags {
			margin-top: 70px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 600px;

			#{$p}__item {
				margin-right: 30px;
				font-size: 20px;
				font-family: $poppins-500;
				line-height: 180%;
				color: $color-black;
				cursor: default;

				&_active {
					color: $color-blue;
				}
			}
		}

		#{$p}__preview {
			margin-top: 100px;
			margin-right: -4px;
			width: 662px;
			height: 408px;
		}
	}

}

// services

.services {
	$p: &;

	margin-bottom: 30px;

	&__container {
		margin-top: 30px;
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 60px;
		cursor: default;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		padding: 40px;
		display: flex;
		flex-direction: column;
		width: 480px;
		background: $color-white;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);

		&:nth-child(n+4) {
			margin-top: 30px;
		}

		#{$p}__title {
			margin-bottom: 40px;
			color: #006EE9;
			font-family: $inter-500;
			font-size: 20px;
		}

		#{$p}__text {
			margin-bottom: 10px;
			font-family: $poppins-400;
			font-size: 16px;
			color: $color-black;
			cursor: default;

			&_long {
				margin-bottom: 10px;
				line-height: 180%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		svg {
			bottom: 40px;
			right: 40px;
			position: absolute;
			width: 80px;
			height: 80px;
		}
	}
}

// projects

.projects {
	$p: &;

	margin-bottom: 30px;

	&__container {
		margin-top: 30px;
		padding-top: 30px;
	}

	&__field {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__box {
		margin-top: 60px;
		display: flex;
		flex-direction: row;

		#{$p}__column {
			display: flex;
			flex-direction: column;
		}

		#{$p}__description {
			margin: 0 30px 0 0;
			padding: 20px;
			background: $color-white;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
		}

		#{$p}__text {
			margin-bottom: 40px;
			font-size: 18px;
			font-family: $poppins-400;
			line-height: 140%;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				font-family: $poppins-500;
				color: $color-blue;
			}
		}

		#{$p}__certificates {
			margin-top: 60px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			#{$p}__certificate {
				margin: 0 10px 10px 0;
				height: 80px;
			}
		}
	}

	&__list {
		margin-top: 0px;
		flex-direction: row;
		flex-wrap: nowrap;

		#{$p}__item {
			padding: 40px;
			width: 977px;
			background: $color-white;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);

			#{$p}__content {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}

		#{$p}__column {
			width: 424px;
		}

		#{$p}__title {
			margin-bottom: 30px;
			font-size: 32px;
			font-family: $inter-500;
			line-height: 100%;
			color: $color-black;
		}

		#{$p}__subtitle {
			margin-bottom: 20px;
			font-size: 16px;
			font-family: $poppins-600;
			color: $color-blue;
		}

		#{$p}__text {
			margin-bottom: 30px;
			font-size: 16px;
			font-family: $poppins-400;
			line-height: 140%;
		}

		#{$p}__box {
			margin: 0 0 30px 0;
			padding-left: 10px;
			flex-direction: column;
			list-style: inside;

			#{$p}__point {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		#{$p}__images {
			width: 500px;
			position: relative;
			display: flex;
			flex-direction: column;
		}

		#{$p}__interface {
			top: 0;
			right: -40px;
			position: absolute;
			width: 478px;
			height: 310px;
		}

		#{$p}__client {
			bottom: 0;
			right: 0px;
			position: absolute;
			width: 100px;
			height: 50px;
		}
	}
}

// footer

.footer {
	$p: &;

	background: $color-blue-dark;
	color: $color-white;

	&__container {
		margin-top: 90px;
		padding-top: 30px;
	}

	&__link {
		font-size: 14px;
		font-family: $inter-400;
		color: $color-white;
		text-decoration: none;
		transition: $transition-base;

		&:hover {
			color: $color-blue-light;
		}
	}

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		#{$p}__column {
			width: 326px;
		}

		#{$p}__logo {
			margin-bottom: 48px;
			display: block;

			#{$p}__image {
				width: 60px;
				height: 60px;
				transition: $transition-base;

				&:hover {
					opacity: 0.75;
				}
			}
		}

		#{$p}__phone {
			margin-bottom: 12px;
			display: block;
			font-family: $inter-500;
			font-size: 16px;
			color: $color-white;
			text-decoration: none;
			transition: $transition-base;

			&:hover {
				color: $color-blue-light;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		#{$p}__address {
			margin-top: 30px;
			font-family: $inter-400;
			font-size: 14px;
			line-height: 140%;
			font-style: normal;
			cursor: default;
		}

		#{$p}__navigation {
			margin: 102px 0 14px 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			#{$p}__link {
				width: 160px;
				display: block;
				line-height: 200%;
			}
		}

		#{$p}__get-presentation {
			font-family: $inter-400;
			font-size: 14px;
			color: $color-white;
			text-decoration: none;
			transition: $transition-base;

			&:hover {
				color: $color-blue-light;
			}
		}

		#{$p}__button {
			margin: 102px 0 30px 0;
			width: 180px;
			height: 40px;
			background: $color-blue-dark;
			font-size: 16px;
			font-family: $inter-600;
			color: $color-white;
			border: 1px solid $color-white;
			transition: $transition-base;

			&:hover {
				background: $color-blue-light;
				border-color: $color-blue-light;
				color: $color-white;
			}
		}

		#{$p}__text {
			font-size: 16px;
			font-family: $inter-400;
			cursor: default;
		}

		#{$p}__link {
			display: block;
			font-size: 16px;
			font-family: $inter-600;
			transition: $transition-base;

			&:hover {
				color: $color-blue-light;
			}
		}
	}

	&__bottom {
		margin-top: 36px;
		padding-bottom: 36px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		#{$p}__copyright {
			font-size: 14px;
			font-family: $inter-400;
			color: $color-white;
			cursor: default;
		}

		#{$p}__link {
			margin-left: -80px;
		}

		#{$p}__socials {
			margin-top: -10px;
			display: flex;
			flex-direction: row;
			height: 24px;
			width: 322px;
		}

		#{$p}__item {
			width: 20px;
			margin-right: 16px;

			#{$p}__link {
				margin: 0;
				width: auto;
			}

			&:last-child {
				svg {
					width: 80px;
				}
			}
		}

		svg {
			width: 24px;
			height: 24px;
			fill: $color-white;
			transition: $transition-base;

			&:hover {
				fill: $color-blue-light;
			}
		}
		
	}
}
