@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";

html {
	font-family: 'SegoeUI-Regular', Tahoma;
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
	background: var(--ibs, linear-gradient(134deg, #FFF 29.52%, #C7D5E0 118.05%) fixed);
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: $color-black;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.is-visible {
	visibility: visible;
	opacity: 1;
}

// container

.container {
	margin: 0 auto;

	@include large {
		width: 1500px;
	}

	@include desktop {
		padding: 0 40px;
		width: 100%;
	}

}

// navigation

.navigation {
	display: flex;
	flex-direction: row;
	@include list;

	&__item {
		margin: 0 20px;
	}

	&__link {
		font-family: $poppins-500;
		font-size: 16px;
		color: $color-black;
		text-decoration: none;
		transition: $transition-base;

		&:hover {
			color: $color-blue-light;
		}
	}
}

// button

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid $color-black;
	background: $color-white;
	font-family: $inter-600;
	font-size: 16px;
	color: $color-black;
	cursor: pointer;
	transition: $transition-base;
}

// title 

.title {
	color: $color-blue-dark;
	font-family: $inter-600;
	font-size: 36px;
	cursor: default;
}

// header

.header {

	&__container {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 82px;
	}

	&__logo {
		display: block;
		width: 60px;
		height: 60px;

		&:hover {
			opacity: 0.75;
			transition: $transition-base;
		}
	}

	&__button {
		width: 180px;
		height: 40px;
		border: 1px solid $color-blue;
		background: $color-white;
		color: $color-blue;

		&:hover {
			color: $color-white;
			border: 1px solid $color-blue;
			background: $color-blue-light;
		}
	}
}

// services

.services {
	$p: &;

	&__container {
		margin-top: 30px;
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 60px;
		cursor: default;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		padding: 40px;
		display: flex;
		flex-direction: column;
		width: 480px;
		background: $color-white;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);

		&:nth-child(n+4) {
			margin-top: 30px;
		}

		#{$p}__title {
			margin-bottom: 40px;
			color: #006EE9;
			font-family: $inter-500;
			font-size: 20px;
		}

		#{$p}__text {
			margin-bottom: 10px;
			font-family: $poppins-400;
			font-size: 16px;
			color: $color-black;
			cursor: default;

			&_long {
				margin-bottom: 20px;
				line-height: 180%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		svg {
			bottom: 40px;
			right: 40px;
			position: absolute;
			width: 80px;
			height: 80px;
		}
	}
}

// directions

.directions {
	$p: &;

	&__container {
		margin-top: 30px;
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 220px;
		height: 220px;
		background: $color-white;
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04));
		border-radius: 120%;
		text-decoration: none;
		transition: $transition-base;

		&:hover {
			background: $color-blue;
			filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04));

			#{$p}__icon {
				filter: brightness(0) invert(1);
			}

			#{$p}__text {
				color: $color-white;
			}
		}
	}

	&__icon {
		margin-bottom: 20px;
		width: 80px;
		height: 80px;
	}

	&__text {
		font-family: $poppins-500;
		font-size: 16px;
		color: $color-black;
		cursor: default;
	}
}

// developers

.developers {
	margin-top: 60px;
	background: $color-blue-dark;

	&__container {
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: $color-white;
	}

	&__title {
		font-size: 36px;
		font-family: $inter-600;
	}

	&__text {
		margin-top: 16px;
		font-size: 24px;
		font-family: $poppins-400;
	}

	&__button {
		margin: 36px auto 0 auto;
		width: 270px;
		height: 60px;
		background: $color-white;
		border: 1px solid $color-blue-light;
		font-size: 18px;
		font-family: $inter-600;
		color: $color-blue-light;
		transition: $transition-base;

		&:hover {
			background: $color-blue-light;
			border: 1px solid $color-blue-light;
			color: $color-white;
		}
	}
}

// clients

.clients {
	$p: &;

	&__container {
		margin-top: 30px;
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 220px;
		height: 220px;
		background: $color-white;
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04));
		border-radius: 120%;

		#{$p}__logo {
			height: 90px;

			&_top {
				margin-top: -10px;
			}

			&_omk {
				height: 50px;
			}
		}
	}

}

// footer

.footer {
	$p: &;

	background: $color-blue-dark;
	color: $color-white;

	&__container {
		margin-top: 90px;
		padding-top: 30px;
	}

	&__link {
		font-size: 14px;
		font-family: $inter-400;
		color: $color-white;
		text-decoration: none;
		transition: $transition-base;

		&:hover {
			color: $color-blue-light;
		}
	}

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		#{$p}__column {
			width: 326px;

		}

		#{$p}__logo {
			margin-bottom: 48px;
			display: block;

			#{$p}__image {
				width: 60px;
				height: 60px;
				transition: $transition-base;

				&:hover {
					opacity: 0.75;
				}
			}
		}

		#{$p}__phone {
			margin-bottom: 12px;
			display: block;
			font-family: $inter-500;
			font-size: 16px;
			color: $color-white;
			text-decoration: none;
			transition: $transition-base;

			&:hover {
				color: $color-blue-light;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		#{$p}__address {
			margin-top: 30px;
			font-family: $inter-400;
			font-size: 14px;
			line-height: 140%;
			font-style: normal;
			cursor: default;
		}

		#{$p}__navigation {
			margin: 102px 0 14px 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			#{$p}__link {
				width: 160px;
				display: block;
				line-height: 200%;
			}
		}

		#{$p}__get-presentation {
			font-family: $inter-400;
			font-size: 14px;
			color: $color-white;
			text-decoration: none;
			transition: $transition-base;

			&:hover {
				color: $color-blue-light;
			}
		}

		#{$p}__button {
			margin: 102px 0 30px 0;
			width: 180px;
			height: 40px;
			background: $color-blue-dark;
			font-size: 16px;
			font-family: $inter-600;
			color: $color-white;
			border: 1px solid $color-white;
			transition: $transition-base;

			&:hover {
				background: $color-blue-light;
				border-color: $color-blue-light;
				color: $color-white;
			}
		}

		#{$p}__text {
			font-size: 16px;
			font-family: $inter-400;
			cursor: default;
		}

		#{$p}__link {
			display: block;
			font-size: 16px;
			font-family: $inter-600;
			transition: $transition-base;

			&:hover {
				color: $color-blue-light;
			}
		}
	}

	&__bottom {
		margin-top: 36px;
		padding-bottom: 36px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		#{$p}__copyright {
			font-size: 14px;
			font-family: $inter-400;
			color: $color-white;
			cursor: default;
		}

		#{$p}__link {
			margin-left: -80px;
		}

		#{$p}__socials {
			margin-top: -10px;
			display: flex;
			flex-direction: row;
			height: 24px;
			width: 322px;
		}

		#{$p}__item {
			width: 20px;
			margin-right: 16px;

			#{$p}__link {
				margin: 0;
				width: auto;
			}

			&:last-child {
				svg {
					width: 80px;
				}
			}
		}

		svg {
			width: 24px;
			height: 24px;
			fill: $color-white;
			transition: $transition-base;

			&:hover {
				fill: $color-blue-light;
			}
		}
		
	}
}
